@layout('layouts.main')

@section('title')
VennFeed
@endsection

@section('content')
  <h1>Active Users</h1>

  <div class="person-container">
    <div class="blank"></div>
    <div class="person-info">
      <h3>Evan Powers</h3>
      <p> Works at: TBD </p>
      <p> Skills include: C++,  Java,  MySQL, Parallel Programming,  Machine Learning.</p>
    </div>
  </div>
@endsection
