@layout('layouts.main')

@section('title')
VennFeed
@endsection

@section('content')
  <h1>Active Users</h1>

  <div class="person-container">
    <div class="blank"></div>
    <div class="person-info">
      <h3>Billy Ray</h3>
      <p> Works at: Google </p>
      <p> His skills: C++,  Java,  Backend, Parallel Programming,  Machine Learning.</p>
      <p> Desired skills: Javascript, Frontend, Graphic Design, CSS.</p>
      <p> Venn Score: 87 </p>

    </div>
  </div>
@endsection
