<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
   <h1>VennFeed</h1>
   <form>
     <fieldset>
       <legend>Create an account:</legend>
       <p>
         <label>Username</label>
         <input type = "text"
                id = "myText"
                value = "text here" />
       </p>
       <p>
         <label>Password</label>
         <input>
         <label>Re-enter Password</label>
         <input>
       </p>
       <p>
         <label>Text Area</label>
         <textarea>Your text here</textarea>
       </p>
     </fieldset>
   </form>

</body>
</html>
